<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Eliminar una nueva nave</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link th:replace="plantilla::bootstrapcss">
</head>
<body>

  <div th:replace="plantilla::navbar"></div>

  <div class="container mt-3 bg-white rounded">
    <div class="row justify-content-center">
      <h2 class="mt-2 col-11">Formulario eliminar nave</h2>
    </div>

    <div class="row justify-content-center">
      <form th:action="@{/eliminar/nave}" method="POST" th:object="${nave}" class="col-10 text-center">
        <label name="id">id: </label>
        <div></div>
        <input type="number" id="id" name="id" th:field="*{id}" class="col-6 rounded">

        <div></div>

        <input type="submit" value="Eliminar" class="m-3 btn btn-primary">
      </form>
    </div>

  </div>


  <div th:replace="plantilla::boostrapjs"></div>
</body>
</html>